<div class='navigation'>
  <ul>
    <li><a href='#/links' class='index'>All Links</a></li>
    <li><a href='#/shorten' class='create'>Shorten</a></li>
    <li><a ng-click='signout()' href='' class='signout'>Signout</a></li>
  </ul>
</div>
<div id='container'>
  <form name="linkForm">
  	<input type="url" name="input" ng-model='linkUrl' ng-pattern="/^https?://.*(\..*)+\..+$/" required />
  	<button ng-click='addLink(linkUrl)' ng-disabled="linkForm.input.$error.pattern || linkForm.input.$error.required">Submit</button>
  </form>
  <span class="error" ng-show="linkForm.input.$error.pattern">Not valid url!</span>
  <span class="error" ng-show="response.data === '400: Not a valid request'">Not valid url! (from server)</span>

  <div class="link" ng-show=" response.data.title">
    <img src='/assets/redirect_icon.png'/>
    <div class="info">
      <div class="title">{{ response.data.title }}</div>
      <div class="original">{{ response.data.url }}</div>
      <a href="{{ serverPath }}/{{ response.data.code }}">
        {{ serverPath }}/{{ response.data.code }}
      </a>
    </div>
  </div>
</div>